* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Recursive, sans-serif;
}

.content{
    padding-top:10px;
    font-size: 15px;
}

.wrapper {
    position: absolute;
    width: 100%;
}

.information {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
    padding-bottom: 50px;
    width: 100%;
}

.content {
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Introduction */
#introduction {
    background-color: #D0D0D0;
}

.profile-pic {
    height:160px;
    border-radius:50%;
    margin-top: 20px;
}

#about h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.skills {
    float:center;
}

.logo {
    float:center;
    width:100px;
    height: 100px;
}

/* Projects Section */
#projects {
    background-color: #D0D0D0;
}
.project {
    padding-top:20px;
}

.project img {
    float: left;
    width: 500px;
    opacity: .5;
    border-radius: 20%;
    padding-right: 40px;
}

.project h2, .project h4 {
    width: 450px;
    padding-bottom: 10px;
}

.project-text {
    float:right;
    width: 600px;
    line-height: 25px;
}

.project-text p {
    padding-bottom: 10px;
    font-size: 18px;
}

/* Contact me section */
.contact-container {
    padding-top: 10px;
}

.contact-container img {
    width: 50px;
}

.contact-image {
    float:left;
    padding-right: 20px;
}

.contact-desc {
    float:right;
    padding-top:15px;
}
/* Extra */
/* Can now break out of flex */
.break {
    flex-basis: 100%;
    height: 0;
}