* {
    margin: 0 auto;
    padding-right: 10px;
    padding-left:10px;
    box-sizing: border-box;
    font-family: Recursive, sans-serif;
}

.information {
    padding-bottom: 20px;
    padding-top: 20px;
}

.wrapper {
    position: absolute;
    text-align: center;
}

.content{
    padding-top:10px;
    font-size: 15px;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Introduction */
#introduction {
    background-color: #D0D0D0;
}

.profile-pic {
    height:160px;
    border-radius:50%;
    margin-top: 20px;
}

.skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float:center;
    width:75px;
    height: 75px;
}

/* Projects Section */
#projects {
    background-color: #D0D0D0;
}

.project {
    padding-top:20px;
}

.project img {
    display:block;
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.project-text {
    text-align: center;
    line-height:25px;
}

.project-text h2, .project-text h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Contact section*/
.contact-container {
    padding-top: 10px;
}

.contact-container img {
    width: 50px;
}

.contact-image {
    padding-right: 20px;
}

.contact-desc {
    padding-top:15px;
}